@font-face {
	font-family: "Jua";
	font-style: normal;
	src: url("../fonts/Jua.ttf");
}

@font-face {
	font-family: "Londrina Solid";
	font-style: normal;
	src: url("../fonts/LondrinaSolid-Regular.ttf");
}